[2021-02-03 16:02] vinzvinci opened #2 "Change filename and Create new folders"
Change the filename of the image `bg1` into `home_background`. Also I suggest to separate the files. Don't move the index.html files

To Do
- [ ] Create new folder and name it **"images"**  for pictures.
- [ ] Create new folder and name it **"assets"** for css, javascript and etc.

![image](https://user-images.githubusercontent.com/73097560/106772895-6cf5f100-667b-11eb-8710-9982d8c3c069.png)

[2021-02-21 12:01] vinzvinci opened #3 "Remove login and register buttons"
We don't need login and register. We're building static website only.

[2021-04-04 16:38] Bryson69 opened #4 "My Idea for the landing page."
**Additional context**
Landing page Proposal
![Screenshot from 2021-04-04 19-35-38](https://user-images.githubusercontent.com/62892010/113515454-4f5ede00-957d-11eb-8476-c960b9974aff.png)

[2021-04-04 16:49] vinzvinci commented on #4
LGTM :) Please make a PR for this

[2021-04-04 16:57] #4 closed

[2021-04-04 16:58] vinzvinci commented on #3
#5 solved

[2021-04-04 16:58] #3 closed

[2021-04-05 12:17] vinzvinci opened #6 "Add info. about SurPath & make a proposal design for the page"
To do:
- Create **about.html**
- Propose an idea about the design
- Add information about SurPath

~~-~~
About
**SurPath** is an welcoming and inclusive open source community that helps every aspiring student or career shifter in the Philippines. We are here to learn, get along with your passion and know your expertise in the field. Members of the community will be able to get a chance to get swag

[2021-04-05 12:19] Bryson69 commented on #6
This is a great idea

[2021-04-05 12:23] vinzvinci commented on #6
Thanks @Bryson69

[2021-04-05 12:24] Bryson69 commented on #6
I will do this and get back to you.

[2021-04-05 12:25] vinzvinci commented on #6
Okay cool, take your time :)

[2021-04-05 12:48] vinzvinci commented on #2
Will close this issue now. Thanks

[2021-04-05 12:48] #2 closed

[2021-04-07 02:27] Bryson69 commented on #6
The design for the about page
![About Page](https://user-images.githubusercontent.com/62892010/113801650-f00df300-9761-11eb-9953-2288cce6f1fe.png)

[2021-04-07 02:46] vinzvinci commented on #6
Cool, I already merge #7. Thanks

[2021-04-07 02:46] #6 closed

[2021-04-07 02:58] Bryson69 commented on #6
No worries

[2021-04-07 11:21] Bryson69 opened #8 "Add the join us section"
**Additional context**
Add this section in order for users to connect directly to the discord server

![Join Us](https://user-images.githubusercontent.com/62892010/113858794-d04fec80-97ac-11eb-9830-9a48f7bb1d99.png)

[2021-04-07 12:28] vinzvinci commented on #8
There should be link for GitHub Organization and Discord Server

[2021-04-07 12:29] vinzvinci commented on #8
Discord: https://discord.com/invite/RATJsSGM9d

GitHub: https://github.com/surpathcommunity

[2021-04-07 12:47] vinzvinci opened #9 "Change document title & remove useless files & fix typo"
To Do:
- [x] **SurPath Community** (document title)
- [x] Remove the useless one (css file in `assets > css`)
- [x] Move `style.css` file in `assets > css`
- [x] Remove: **Join Our Communityon Discorf** - > this text and change it:
- [x] **Join our GitHub organization and Community server in Discord** (at Join Us section)
- [x] Remove Join Us button
- [x] **GitHub** and **Discord** logo at Join Us

[2021-04-07 12:54] vinzvinci opened #10 "docs: improve the documentation"
**To Do:**
- Add screenshot of the page
- Add **Live View** link of the page

[2021-04-07 13:55] #8 closed

[2021-04-07 14:27] vinzvinci opened #12 "Add team, project & footer section"
**To Do:**
- [x] Add footer section (copyrights included)
- [x] Add 6 cards at team section `(included my card already)`
- [x] Add my profile pic & tagline at team section `(get it in my github profile)`
- [ ] Add **Project** at navbar
- [ ] Add 4 cards at project section

[2021-04-07 14:28] Bryson69 commented on #12
I will gladly do this

[2021-04-07 14:28] vinzvinci commented on #12
Sure, thank you :)

[2021-04-07 14:34] vinzvinci opened #13 "Add light/dark mode features"
It will be cool if we add light & dark mode features.

[2021-04-07 14:41] vinzvinci opened #14 "Removed."
Removed.

[2021-04-08 14:57] vinzvinci commented on #9
Done

[2021-04-08 14:57] #9 closed

[2021-04-14 13:03] vinzvinci opened #21 "Add more info in footer section"
Something like these:

[code]

[2021-04-15 16:29] #12 closed

[2021-04-16 13:09] Bryson69 commented on #21
Assign me to this

[2021-04-16 13:09] vinzvinci commented on #21
Done

[2021-04-16 13:10] Bryson69 commented on #21
Thank you

[2021-04-16 13:33] vinzvinci commented on #21
I have an idea, maybe something like this (footer of GitHub)? But the  © 2021 SurPath. All rights reserved at the center below
[code]
At the middle, of Privacy and Code of Conduct, we will put SurPath logo.

Like this:
![Capture](https://user-images.githubusercontent.com/73097560/115031452-c0e24900-9efa-11eb-9a0e-db63063251e5.PNG)

[2021-04-18 09:30] vinzvinci opened #24 "Rename our community name"
Rename our community name in the website:

Community Name: **SurPath Hub**

[2021-04-22 10:19] #24 closed

[2021-04-22 14:12] suubh opened #27 "Add License"
Add the License to complete all the Checklist in [community profile](https://github.com/SurPathHub/SurPathHub.github.io/community).

[2021-04-22 15:51] vinzvinci commented on #27
Thank you @suubh for reminding me, I totally forget to add licence 😄

[2021-04-22 15:54] vinzvinci commented on #27
Added now, thanks.

[2021-04-22 15:54] #27 closed

[2021-04-22 16:57] suubh commented on #13
I would like to work on this issue .

[2021-04-23 05:33] vinzvinci commented on #13
We will hold this issue for now @suubh until those features aren't released yet, but sure I'll assign this to you.

[2021-04-23 05:35] vinzvinci commented on #21
Thanks, this issue is done #26

[2021-04-23 05:35] #21 closed

[2021-04-29 18:45] Bryson69 opened #30 "Issue #12"
Add a new Footer and add responsiveness to the website

[2021-04-29 18:51] vinzvinci commented on #30
You can still edit your `issue` title @Bryson69. use a naming convention - good practice for naming things. Btw, thanks for creating PR #29, will merge it now.

[2021-04-29 18:51] #30 closed

[2021-04-29 19:27] vinzvinci opened #31 "Add community projects"
To Do:
- [x] Add 2 more cards in the project section

Add this on the card with a screenshot & description of the project repo. `Note: Use specific repo. in the button link (per card)`
- [x] Add <a href="https://github.com/SurPathHub/starter-kit">Starter Kit</a>
- [x] Add <a href="https://github.com/SurPathHub/hacktoberfest-philippines">Hacktoberfest Philippines</a>
- [x] Add <a href="https://gith

[2021-05-02 05:34] #14 closed

[2021-05-02 06:41] vinzvinci opened #32 "Change social media icon"
Please remove Instagram and put YouTube and Twitter icons.
![image](https://user-images.githubusercontent.com/73097560/116804807-6a107c80-ab54-11eb-9c53-8febf04899fc.png)

Please remove Facebook, Instagram, and put LinkedIn and youtube icons.
![image](https://user-images.githubusercontent.com/73097560/116804787-37ff1a80-ab54-11eb-8dba-3e8b18870e1b.png)

[2021-05-02 07:12] vinzvinci opened #33 "Put SurPath Hub logo on navbar"
Remove this text logo and put SurPath Hub logo on navbar.
![image](https://user-images.githubusercontent.com/73097560/116805322-359ebf80-ab58-11eb-8368-15ac7594d9bf.png)

Favicon is ready <a href="https://github.com/SurPathHub/SurPathHub.github.io/tree/main/assets/img">here</a>.

[2021-05-02 14:14] vinzvinci commented on #33
Done #34

[2021-05-02 14:14] #33 closed

[2021-05-02 15:01] #32 closed

[2021-05-02 15:11] SandeepKrSuman commented on #31
Hey @vinzvinci can you give an example as to how the screenshot of the repo should look like ? If you can provide just one screenshot as an example that would be very helpful.

[2021-05-02 15:25] vinzvinci commented on #31
Example:
![image](https://user-images.githubusercontent.com/73097560/116818387-9ef4f180-ab9d-11eb-9f3b-3700266704b7.png)

[2021-05-02 15:26] vinzvinci commented on #31
Additionally: Please rename the button into `View`

[2021-05-02 15:26] vinzvinci commented on #31
Do you want to take this issue @SandeepKrSuman ?

[2021-05-02 15:27] SandeepKrSuman commented on #31
Yes. Can I work on this?

[2021-05-02 15:30] vinzvinci commented on #31
Yes, I'll assign this to you @SandeepKrSuman

[2021-05-02 15:31] SandeepKrSuman commented on #31
Thanks I'm working on it now.

[2021-05-02 16:21] vikasganiga05 opened #37 "🎨 Footer and Main section have same background color no difference"
**Describe the bug**
The main and footer section of the website has a white background, So it's hard to differentiate the footer section. The user may think it's the main section. My suggestion is to choose a primary color that has a footer background and change the text and icon color according to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://surpathhub.github.io/
2. Scr

[2021-05-02 16:38] vinzvinci commented on #37
Yeah it's a real problem. I like the first image, wanna work with issue?

[2021-05-02 16:43] vinzvinci commented on #37
Yeah that's real problem. I like the first image, wanna work with issue?

[2021-05-02 16:48] #31 closed

[2021-05-02 16:49] vikasganiga05 commented on #37
Yeah! sure. I like to work on this :slightly_smiling_face:

[2021-05-02 16:50] vinzvinci commented on #37
Okay, thanks for helping :smile:

[2021-05-02 18:43] Bryson69 commented on #37
That's a really good idea @vikasganiga05. Thank you. The first colour looks awesome

[2021-05-02 23:39] #37 closed

[2021-05-02 23:44] vinzvinci opened #40 "Make the site responsive to mobile phones"
Design the site to be responsive for mobile phones

[2021-05-04 13:40] #40 closed

[2021-05-05 10:15] vinzvinci opened #42 "(FEATURE) Redesign the home section"
To Do:
- Remove this text: `Let's help discover the best more open source projects.`
- Better put our mission: `Our aim is to put every Filipino student aspiring developer into an open-source world regardless of their position in life and everyone will receive equal treatment.`
- I like to put embedded YouTube video on the right, let's remove that image.

![image](https://user-images.githubusercon

[2021-05-05 10:28] vinzvinci opened #43 "(FEATURE) Add Join Us secton"
To Do:
![image](https://user-images.githubusercontent.com/73097560/117128172-a3085580-adcf-11eb-9f2d-747156f7a8c8.png)

[2021-05-05 10:43] vinzvinci commented on #10
Done

[2021-05-05 10:43] #10 closed

[2021-05-08 11:47] SandeepKrSuman commented on #42
Hey @vinzvinci , I would like to work on this. Also do let me know about the YouTube video which you want to embed.

[2021-05-08 12:11] vinzvinci commented on #42
My YouTube video isn't done yet. You can put this for now https://youtu.be/1ehpgbb3XD0

[2021-05-08 12:13] SandeepKrSuman commented on #42
Alright, I'm working on this.

[2021-05-08 12:35] #42 closed

[2021-05-10 16:36] vikasganiga05 opened #47 "Bad contrast of nav links in mobile view"
**Describe the bug**
The nav links are hard to see on the mobile screen. The background of the nav menu and the color of the links are similar, so the links are blending with its background.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://surpathhub.github.io/
2. Click on the menu icon ( ☰ )
3. See the nav links its hard to read

**Expected behavior**
Give the nav menu solid ba

[2021-05-11 07:38] vinzvinci opened #48 "Redesign Join Us Section"
To Do:
- [ ] Maybe put the GitHub & Discord logo on the right card? with a good design
~~-~~
- [x] Remove ~~Get insights that help your developer skills grow.~~
- [x] Change it to **Get insights that help your development skills grow**
~~-~~
- [x] Remove ~~Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi!~~
- [x] Change it to **Join us and let's collaborate**

<br />

![image](http

[2021-05-11 11:01] vikasganiga05 commented on #47
Yes, I like to work on this.

[2021-05-16 11:37] goyal-Dushi commented on #48
Hey @vinzvinci, I would like to address the issue!

[2021-05-16 11:49] vinzvinci commented on #48
Hey @goyal-Dushi, feel free, I'm excited to see your idea.

[2021-05-30 13:28] vinzvinci opened #51 "docs: add PR template"

[2021-06-11 06:12] #43 closed

[2021-06-11 06:12] #48 closed

[2021-06-11 06:13] #13 closed

[2021-06-18 03:18] vinzvinci opened #52 "feat: add FAQs about the community"
This section should be added to the community website.

[2021-06-18 03:24] vinzvinci opened #53 "feat: add incoming event slider"

[2021-06-26 06:11] Tiansing opened #54 "Responsive nav_logo is unable to appear"
**nav_logo bug**
The responsive nav_logo "SurPath Hub" is unable to display when the minimum width size reaches 767 and below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[https://surpathhub.github.io/]'
2. Inspect elemets or F12
3. Click on 'Toggle device emulation'
![image](https://user-images.githubusercontent.com/59194525/123503695-1cf9e400-d687-11eb-97f1-f0ec0f652895.png)

4.

[2021-06-26 06:33] vinzvinci commented on #54
Do you want to take this issue?

[2021-06-26 06:55] Tiansing commented on #54
Sure! why not.

[2021-06-26 06:56] vinzvinci commented on #54
Hehehe salamats

[2021-06-26 12:22] Tiansing commented on #54
I fixed the issue by changing the block value of display property of nav__logo rule to flex.

[2021-06-26 12:23] #54 closed

[2021-06-26 13:17] vinzvinci commented on #54
Thank you <3

[2021-06-26 13:25] vinzvinci opened #55 "Add Christian Igbaras to Our Team section"
Hey friend @Tiansing , add yourself next to my profile.

[2021-06-27 00:28] Tiansing commented on #55
Ok @vinzvinci , thanks for consideration

[2021-06-27 01:01] Tiansing opened #56 "misalignment and unapropriate occurence of bx selector"
**bx bx-menu and bx bx-x bug issue**
There are little misalignment and unapropriate appearance of bx bx-menu and bx bx-x selector on header. The bug occured in between the width of 769 to 1023 .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://surpathhub.github.io/'
2. Inspect Element or press F12 on your keyboard
3. Click on 'Toggle device emulation'
![image](https://user-imag

[2021-06-27 01:18] vinzvinci commented on #56
Would you like to take this issue?

[2021-06-27 08:33] Tiansing commented on #56
Sure bro!

[2021-06-27 15:50] vinzvinci opened #58 "Add moderators to "Our Team" section"
Add @xyrelljoi & @Assh12Dhayanna

[2021-06-27 17:50] vinzvinci commented on #56
#57 fixed

[2021-06-27 17:50] #56 closed

[2021-07-01 03:39] Tiansing commented on #55
My profile has been added next to your profile!

[2021-07-01 04:46] vinzvinci commented on #55
I have request #59

[2021-07-03 10:53] xyrelljoi commented on #58
Ok, I added my profile and created a PR already

[2021-07-03 11:02] vinzvinci commented on #58
@xyrelljoi merged. Now waiting for @Assh12Dhayanna

[2021-07-03 11:50] vinzvinci commented on #58
@NeekoNeeko add yourself as moderator.

[2021-07-03 11:53] vinzvinci commented on #55
I will close this issue now. Thanks

[2021-07-03 11:53] #55 closed

[2021-07-05 13:15] deephunt3r commented on #51
hey @vinzvinci can I work on this?
here is the [my template](https://github.com/deephunt3r/pygame/blob/main/.github/pull_request_template.md
If it is okay for u I'll create the pr or you can suggest changes

[2021-07-05 13:36] vinzvinci commented on #51
Looks good @deephunt3r. Yes, you can!

[2021-07-05 13:50] #51 closed

[2021-07-07 07:44] vinzvinci opened #67 "Change our mission description"
**Here's the new description:**

Our aim is to put every Filipino student, career shifter, or aspiring developer into an open-source world regardless of their position in life and everyone will receive equal treatment.

[2021-07-07 08:20] rynrsts commented on #67
I do not know if this will sound better:

Our aim is to place every Filipino student, career shifter, or aspiring developer into an open-source environment regardless of their position in life, receiving equal treatment.

[2021-07-07 10:39] xyrelljoi commented on #67
How about:

[2021-07-10 06:07] deephunt3r commented on #67
@vinzvinci okay! can I create a pr by changing home descriptiom

[2021-07-10 06:53] vinzvinci commented on #67
**Final**
Our aim is to put every Filipino student, career shifter, or aspiring developer into an open-source environment regardless of their position in life and everyone will receive equal treatment.

Yeah go @deephunt3r, please be careful, only change the description. Thank you!

[2021-07-10 12:57] #67 closed

[2021-07-14 08:22] vinzvinci opened #69 "feat: Update our logo"
We're using our old logo on this website.

**Task:**
- Update our logo on the navbar using the image below
- Update our favicon using the image below

![logo](https://user-images.githubusercontent.com/73097560/125588693-65330f95-ed48-46df-952b-78d768b0e956.png)

[2021-07-14 21:45] xyrelljoi commented on #69
Can I be assigned in this issue?

[2021-07-15 00:47] vinzvinci commented on #69
Yeah, you can start working with this issue now.

[2021-07-16 14:49] vinzvinci opened #71 "feat: Upgrade our community website"

[2021-07-18 08:38] #69 closed

[2021-07-25 08:26] Tiansing opened #73 "add hover effect on nav-btn"

[2021-07-25 08:48] vinzvinci commented on #73
Cool! Would you like to work on this issue?

[2021-07-25 13:16] Tiansing commented on #73
so be it

[2021-07-26 08:16] jcavenue commented on #53
Okay lang ba na nasa ibang page tong event slider?

[2021-07-26 08:18] vinzvinci commented on #53
Yes po @jcavenue

[2021-07-28 01:56] Tiansing commented on #73
@vinzvinci check my pr

[2021-07-28 02:08] Tiansing opened #75 "the surpath hub logo is obscured behind nav__menu"
the surpath hub logo is obscured when the nav__menu is toggled on in mobile devices

**Expected behavior**
the surpath hub logo should be visible always.

**Screenshots**
![image](https://user-images.githubusercontent.com/59194525/127252149-ba1dc35a-79c5-4015-9b2f-a7380aa2561f.png)

**Working Environment**
Mobile devices

[2021-07-28 07:55] #73 closed

[2021-07-30 13:45] #75 closed

[2021-07-30 13:59] Tiansing opened #77 "nav__menu is not closing when nav__links was clicked"
nav__menu is not closing when nav__links was clicked

**Expected behavior**
nav__menu should be closed when nav__links was clicked

**Screenshots**
![image](https://user-images.githubusercontent.com/59194525/127663244-2f0fb533-c802-461f-b0fa-d75634add1e1.png)

[2021-07-31 01:12] rynrsts commented on #77
If no one is doing this, I would like to.

[2021-07-31 09:25] vinzvinci commented on #77
Feel free @rynrsts.

[2021-08-01 04:24] #77 closed

[2021-08-02 13:29] rynrsts opened #81 "Navbar has broken"
**Describe the bug**

- Checkbox not hidden
- Logo has gone
- Hamburger (3 lines has gone)
- Navlinks are not hidden

**Screenshots**

Web browser:
![image](https://user-images.githubusercontent.com/84888155/127869144-c0bafb10-1632-4aa1-8841-fd51242f42c1.png)

Web developer tool:
![image](https://user-images.githubusercontent.com/84888155/127869352-d6016dda-2d77-4806-842d-0b3a115c81b1.png)

[2021-08-02 13:56] #81 closed

[2021-08-07 11:40] Tiansing opened #84 "nav-btn arragement bug on 768px width"
disordered nav-btn arrangement and some nav-btn is not visible when it reaches the exact 768px width

**Expected behavior**
nav-btn should be aligned orderly by row and all nav-btn's are visible.

**Screenshots**
![image](https://user-images.githubusercontent.com/59194525/128598786-7cdeef9d-7163-4394-8ec1-4ac90af70edd.png)

[2021-08-07 12:10] vinzvinci commented on #84
Uhm yeah, this isn't looking good. Wanna work for it?

[2021-08-07 13:56] Tiansing commented on #84
Sure vincent!

[2021-08-18 12:06] #58 closed

[2021-08-18 12:08] vinzvinci opened #85 "Add more SurPath Hub team"
We need to redesign the Team section and add other core members

[2021-08-18 12:57] vinzvinci opened #86 "add GitHub & Dev Protocol logo to our website"
Ex.

**Powered by**
- GitHub logo
- Dev Protocol logo

[2021-08-20 04:53] pranxv commented on #86
If the issue is still open, I would like to work on it

[2021-08-20 04:57] vinzvinci commented on #86
Yeah sure, thank you.

- https://devprotocol.xyz/
<img width="512" alt="Avatar w 01 (Twitter)" src="https://user-images.githubusercontent.com/73097560/130181401-80312b73-1642-4009-affc-e10daf976025.png">

[2021-08-22 07:16] varunwho commented on #85
Do you want the other members to be on the same page?

[2021-08-22 07:42] varunwho opened #88 "Opacity issue in the team members section"
**Is your feature request related to a problem? Please describe.**
The opacity is too low in the team members section and the text is quite transparent

**Describe the solution you'd like**
To increase the opacity to 0.7-0.8 so that the text would be visible and also there would be a difference seen when we hover

![Screenshot 2021-08-22 130645](https://user-images.githubusercontent.com/53107832/1

[2021-08-22 08:11] vinzvinci commented on #85
Yep, only core members are on the same page. I'll gather their GitHub first.

[2021-08-22 08:17] vinzvinci commented on #88
Hmm, I don't see any problem here 🤔, but I like to hear the other team thoughts

[2021-08-22 08:22] vinzvinci commented on #85
Administrator - https://github.com/Ryjin210
Operations Manager - https://github.com/huenique
Moderator  - https://github.com/chraem

[2021-08-22 08:28] varunwho commented on #88
Sure!
I was working with this same kinda card on another project and got suggestions to increase the opacity. Lemme know if you wanna change it

[2021-08-22 08:30] vinzvinci commented on #88
May I see some example?

[2021-08-22 08:32] varunwho commented on #85
Ohk so I only need to add these 3 people right?

[2021-08-22 08:33] MatteuSan commented on #88
Maybe default to normal opacity but when the user-container__wrap is hovered it will only focus the opacity on one user

[2021-08-22 08:36] vinzvinci commented on #85
Yes ✨

[2021-08-22 08:43] chraem commented on #88
I agree with this but to make sure that we have the same thought I'll type what I understand.
- The containers opacity is 100%
- If one container is hovered, lower the opacity of other containers other than the one being hovered.

Are we on the same page?

[2021-08-22 08:44] huenique commented on #88
Thought about this, too. From a typical visitor's point of view, it doesn't make sense to blend the profiles with the background, especially if the intention was to introduce certain individuals. You have to hover over each profile to get a clear enough image. If I didn't have a decent eyesight, I might not notice the transparent shapes immediately. I get the motivation behind the design choice, b

[2021-08-22 09:07] varunwho commented on #88
Opacity at 0.8
![normal](https://user-images.githubusercontent.com/53107832/130349313-03f9f40d-daaa-4437-b62c-366323ce6d74.png)

Opacity at 1 (when hovered)
![hover](https://user-images.githubusercontent.com/53107832/130349314-42e1c145-0a9b-4a99-a9ee-0f8599204195.png)

[2021-08-22 09:11] varunwho commented on #85
![Screenshot 2021-08-22 144007](https://user-images.githubusercontent.com/53107832/130349441-9d75b208-b392-4873-8e4b-f4c0509e847b.png)

I've added their names & position, if you could send links of linkedin & other accounts, I'll add that too and the photo as well

[2021-08-22 09:17] vinzvinci commented on #85
Their GitHub and Twitter are enough.

@Ryjin210
@huenique
@chraem

[2021-08-22 09:21] vinzvinci commented on #88
Hmm okay, you're telling only text & social logos? not the background? if yeah, it's alright for me. You can make changes

[2021-08-22 09:33] varunwho commented on #88
Yeah the text, social logos and the photos

[2021-08-22 09:34] Ryjin210 commented on #85
https://twitter.com/Ryjinx210

[2021-08-22 09:34] vinzvinci commented on #88
Okay cool!

[2021-08-22 09:36] Ryjin210 commented on #85
here is my linkedin account as well
https://www.linkedin.com/in/mark-ryan-jancorda-6916a6204/

[2021-08-22 09:37] vinzvinci commented on #85
Chraem Twitter: https://twitter.com/chraem2

[2021-08-22 09:48] vinzvinci commented on #85
You can start working on this issue now, they can make their own PR later to add their social links. But please don't forget their GitHub profile link.

[2021-08-22 10:08] #86 closed

[2021-08-22 10:17] vinzvinci opened #90 "feat: redesign footer_credits"
![image](https://user-images.githubusercontent.com/73097560/130351445-1fc7159b-87f3-4ff4-8758-09278b084fa1.png)

Better put these images:
<img width="1280" alt="Dev Protocol b + Brandmark rgb 01" src="https://user-images.githubusercontent.com/73097560/130351474-7097a431-4f41-48fd-a0c1-0cc625a232b7.png">

![GitHub_Logo_White](https://user-images.githubusercontent.com/73097560/130351562-33c2dd4a-961

[2021-08-22 10:39] rynrsts opened #91 "Powered by"
**Is your feature request related to a problem? Please describe.**

"GitHub" and "Dev Protocol" are too dark that these would blend with the background. This would be bad in terms of readability, especially to those who have bad eyesight and are color blind. And since these contain links, it would hinder their purposes.

![image](https://user-images.githubusercontent.com/84888155/130351920-ada1fae

[2021-08-22 10:39] vinzvinci commented on #91
same issue: #90

[2021-08-22 10:40] vinzvinci commented on #91
Would you like to work on this issue?

[2021-08-22 10:41] rynrsts commented on #91
Ohh sorry, I did not notice. Should I close this?

[2021-08-22 10:41] rynrsts commented on #91
Alright!

[2021-08-22 10:41] vinzvinci commented on #91
Nope, I'll close the other one.

[2021-08-22 10:42] #90 closed

[2021-08-22 10:43] #88 closed

[2021-08-22 14:10] #85 closed

[2021-08-23 03:58] #91 closed

[2021-08-23 04:54] varunwho commented on #52
I can do this if you could provide me the information of the FAQs and exactly at which position should it be added in the website

[2021-08-23 05:00] vinzvinci commented on #52
Great! I am currently asking the team what to provide here.

[2021-08-23 16:35] varunwho commented on #53
Incoming event slider as in?

[2021-09-04 12:52] vinzvinci commented on #84
Have u done this issue or not?

Uhm maybe @Ryjin210 can take this issue?

[2021-09-09 07:19] devkurono opened #95 "Web vitals need improvements"
According to lighthouse your website performance is slow, check the link below for more information about your website performance:
https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fsurpathhub.github.io%2F
![image](https://user-images.githubusercontent.com/68635840/132640157-35a7f1f9-4e3b-468c-9606-cb560d2a4fa0.png)

[2021-09-09 07:23] vinzvinci commented on #95
Thanks for making this issue. Take a look at this issue @Tiansing and ask me if needed.

[2021-09-09 16:01] heychrono commented on #95
Hello, I highly recommend, you guys, to use these:
1. Lazyload images - https://github.com/aFarkas/lazysizes
2. Image optimization - https://tinypng.com/

I hope it helps.

[2021-09-10 08:40] vinzvinci opened #97 "Change our logo"
Hi @Tiansing can u change our logo? You can see it here https://github.com/SurPathHub/brand-assets

[2021-09-10 08:44] Tiansing commented on #95
Ok great issue! I will work on this.

[2021-09-10 08:47] Tiansing commented on #95
I really appreciate your help. Thank you.

[2021-09-10 09:10] Tiansing commented on #97
Ok I'll think for a better logo design for our community

[2021-09-10 09:17] vinzvinci commented on #97
You can use this https://github.com/SurPathHub/brand-assets/blob/main/Resources/SurPath%20Hub%20Logos/SPH_transparent.png

[2021-09-10 09:18] vinzvinci commented on #97
Or you can start to create our mascot logo

[2021-09-10 09:30] Tiansing commented on #97
Ok I will accomplish that all together

[2021-09-11 14:00] MatteuSan opened #98 "[FOR LATER] Upgrade the website with the surpath design system"

[2021-09-12 08:20] huenique opened #99 "Incorrect Dayong URL"
In the project highlights section of SurPath Hub's site, Dayong's link points to a different URL/repository:

https://github.com/SurPathHub/SurPathHub.github.io/blob/0e2673bbac83c129b79553bd5f68666ace826ec3/index.html#L262

The anchor tag's href should instead contain `https://github.com/SurPathHub/Dayong`.

[2021-09-14 05:34] heychrono commented on #95
Hello, any update on this issue?

[2021-09-14 05:45] vinzvinci commented on #95
Hello @heychrono, we are busy preparing the Hacktoberfest Philippines event. Maybe you can take over this issue if ever you have some time?

Thank you for being active here.

[2021-09-14 05:48] heychrono commented on #95
Great, I'll try to do it, if I get a free time, good luck on the event. 🥳

[2021-09-14 05:51] vinzvinci commented on #95
Thank you!

[2021-09-14 06:02] heychrono commented on #95
Hello @vinzvinci, can I adjust some designs here?

[2021-09-14 06:30] vinzvinci commented on #95
Yes, feel free @heychrono.

[2021-09-18 16:00] #99 closed

[2021-09-21 01:36] MatteuSan commented on #98
#101 for tracking

[2021-09-22 02:49] vinzvinci opened #102 "[TEAM] Updated Community Roles"
### Founder
Vincent Villafuerte (@vinzvinci)

### Co-Founder
Christian Igbaras (@Tiansing)

### Community Manager
Ma. Nikka Herrera (@nikxherrera)

### Community Manager & Head of Support
Mark Ryan Jancorda (@Ryjin210)

### Ops & Project Manager
Hju Kneyck Flores (https://github.com/huenique)

### Front End Lead
- Matthew Hernandez (@MatteuSan)
- John Carlo Fababeir (@jcavenue)

### Moderator
Xyre

[2021-09-25 15:12] PoorCoderCreations opened #103 "Update team members' social media links"
**Is your feature request related to a problem? Please describe.**
Some links for social media accounts of the team isn't working. This should be disabled or updated with the links. e.g. facebook profile link and twitter profile link

**Describe the solution you'd like**
ask the team members to git push with the updated code of their social media profiles

**Describe alternatives you've considered

[2021-10-14 05:25] #102 closed

[2021-10-14 16:55] Panquesito7 opened #107 "[FEATURE] Add logos for their respective socials"
**Is your feature request related to a problem? Please describe.**

It would look better if we add logos for their respective socials in the footer.
For example, the GitHub link should have its logo on the left, the same for the other ones.

**Describe the solution you'd like**

Add logos to the left for their respective socials (example explained above).

**Describe alternatives you've considered

[2022-01-07 15:22] vikasganiga05 opened #110 "[BUG] Card on `Join Us` section is hidden under yellow circle"
### Description of the bug

The bottom left part of the  card on [Join Us](https://surpathhub.org/#join) is hidden under yellow circle.

### Please add screenshots (if applicable)

![image](https://user-images.githubusercontent.com/74750414/148565148-05d3f3e9-3499-4fcf-a864-6a17e91f041f.png)

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to fol

[2022-01-08 10:02] Simperfy commented on #110
What browser are you using? It's fine on my end.
![image](https://user-images.githubusercontent.com/28738855/148640125-efe585d8-0201-4e81-8f6e-38a7bf3a836c.png)

[2022-01-10 05:16] vikasganiga05 commented on #110
Oh! okay, I am using Firefox v95.0.2 browser.

[2022-03-04 18:13] lavakush07 commented on #107
I would love to work upon this issue.

[2022-03-05 01:17] Panquesito7 commented on #107
Feel free to work on it! 😄

[2022-06-18 16:44] Wishy-S commented on #110
Cause of this issue may be lies in the implementation of the Gecko  for Firefox.

[2022-06-20 06:49] #110 closed

[2022-10-08 12:43] vinzvinci commented on #52
Closing this as we are preparing for the new design.

[2022-10-08 12:43] #52 closed

[2022-10-08 12:44] vinzvinci commented on #53
Closing this as we are preparing for the new design.

[2022-10-08 12:44] #53 closed

[2022-10-08 12:44] vinzvinci commented on #71
Closing this as we are preparing for the new design.

[2022-10-08 12:44] #71 closed

[2022-10-08 12:44] vinzvinci commented on #84
Closing this as we are preparing for the new design.

[2022-10-08 12:44] #84 closed

[2022-10-08 12:44] vinzvinci commented on #95
Closing this as we are preparing for the new design.

[2022-10-08 12:44] #95 closed

[2022-10-08 12:45] vinzvinci commented on #97
All good!

[2022-10-08 12:45] #97 closed

[2022-10-08 12:47] vinzvinci commented on #103
Closing this as we are preparing for the new design.

[2022-10-08 12:47] #103 closed

[2022-10-08 12:47] vinzvinci commented on #107
Closing this as we are preparing for the new design.

[2022-10-08 12:47] #107 closed

[2022-10-08 14:34] vinzvinci opened #112 "[FEATURE] Create Navbar and Hero section"
### Detailed description

Create navigation bar and hero section like this
![image](https://user-images.githubusercontent.com/73097560/194712718-419249ff-b0fb-49ec-9d94-5b0271778e25.png)

### Context

It is important for us to rebrand xD

### Possible implementation

Check the design in Figma: https://www.figma.com/file/svMDNK4ZuKMfg3ItEyQmQU/Surpathhub-Rebranding%5BREFERENCE%5D

### Additional in

[2022-10-08 14:42] vinzvinci opened #113 "[FEATURE] Create the section of "Support our Program? ""
### Detailed description

Start creating this section

![image](https://user-images.githubusercontent.com/73097560/194712936-17a23f3f-993f-403a-a5d5-bdf3857b70b4.png)

### Context

This is very useful for the community program

### Possible implementation

Check the design in Figma: https://www.figma.com/file/svMDNK4ZuKMfg3ItEyQmQU/Surpathhub-Rebranding%5BREFERENCE%5D

### Additional information

[2022-10-08 14:42] vinzvinci commented on #98
Closing this as we have new web design.

[2022-10-08 14:42] #98 closed

[2022-10-08 14:44] Tiansing opened #114 "[FEATURE] Create the section of "Why be part of SurPath Hub? ""
### Detailed description

Create the section of "Why be part of SurPath Hub?" section like this:
![image](https://user-images.githubusercontent.com/59194525/194713063-fedea9a5-2508-428c-aeb0-4a48621cd78a.png)

### Context

This is essential for our rebranding!

### Possible implementation

Check the design in Figma: https://www.figma.com/file/svMDNK4ZuKMfg3ItEyQmQU/Surpathhub-Rebranding%5BREFERENC

[2022-10-08 14:49] Tiansing opened #115 "[FEATURE] Create the section of "Join our Community Program""
### Detailed description

Create the section of "Join our Community Program" like this:
![image](https://user-images.githubusercontent.com/59194525/194713268-44be3033-69dd-4e1f-a5d2-df7af91b111c.png)

### Context

This is essential for our rebranding!

### Possible implementation

Check the design in Figma: https://www.figma.com/file/svMDNK4ZuKMfg3ItEyQmQU/Surpathhub-Rebranding%5BREFERENCE%5D

###

[2022-10-08 14:49] vinzvinci opened #116 "[FEATURE] Create "Read our Community Blog" section"
### Detailed description

Create our community blog like this

![image](https://user-images.githubusercontent.com/73097560/194713186-43c657ae-2945-4a28-ab3f-b24fe457c648.png)

### Context

To share our community blog

### Possible implementation

Check the design in Figma: https://www.figma.com/file/svMDNK4ZuKMfg3ItEyQmQU/Surpathhub-Rebranding%5BREFERENCE%5D

**Please use these tech stacks:**
Tail

[2022-10-08 14:52] Tiansing opened #117 "[FEATURE] Create Footer Section"
### Detailed description

Create Footer Section like this:
![image](https://user-images.githubusercontent.com/59194525/194713459-2c993ab4-9b4e-41fb-8a15-e9a419dff98f.png)

### Context

This is essential for our rebranding!

### Possible implementation

Check the design in Figma: https://www.figma.com/file/svMDNK4ZuKMfg3ItEyQmQU/Surpathhub-Rebranding%5BREFERENCE%5D

### Additional information

**Pl

[2022-10-08 14:53] amitroy-thedev commented on #117
Hey @Tiansing assign me this project..

[2022-10-08 15:09] sutirthverma commented on #112
Hi, the figma file is not opening.

[2022-10-08 15:12] debopriyadey commented on #116
Hello @vinzvinci, You can assign it to me.

[2022-10-08 15:13] vinzvinci commented on #112
Wait. Can you send view link @Tiansing

[2022-10-08 15:14] amitroy-thedev commented on #113
can i use plain css/scss for for the project ?
If yes then please assign me this project..
Thank you

[2022-10-08 15:21] mkubdev commented on #112
Hey can i work on this? 😄

[2022-10-08 15:24] mkubdev commented on #115
Hey, can i work on this task? 🥇

[2022-10-08 15:46] vinzvinci commented on #113
Sure! You can do that if it's fit to global layout.

[2022-10-08 15:47] vinzvinci commented on #115
Assigned ✅ @mkubdev

[2022-10-08 15:49] vinzvinci commented on #116
Assigned @debopriyadey :heavy_check_mark:

[2022-10-08 15:55] Urmilasc commented on #117
Hello , I want to contribute So can you please assign this to me ?

[2022-10-08 15:56] Bivas-Biswas commented on #114
Hey, can i work on this ??

[2022-10-08 16:19] vinzvinci commented on #114
Sure @Bivas-Biswas! Assigned ✅

[2022-10-08 16:20] vinzvinci commented on #117
Assigned ✅

[2022-10-08 16:56] Bivas-Biswas commented on #114
I have some queries,
- I can't access the Figma file.
- The description said, "Please use these tech stacks: TailwindCSS and ReactJS". But there is no starting point because the current tech stack is HTML, CSS, and js.

[2022-10-08 16:58] vinzvinci commented on #114
Please wait for #112 to be created, we will start it.

Figma file owner @Tiansing, wait for him as well.

[2022-10-08 18:01] amitroy-thedev commented on #113
Hey @vinzvinci to use tailwindcss can i use cdn of it in index.html..

[2022-10-09 01:44] Tiansing commented on #112
Hey @vinzvinci and @mkubdev, I just updated the figma file, you all can now access the rebranding design through this link :
**https://www.figma.com/file/svMDNK4ZuKMfg3ItEyQmQU/Surpathhub-Rebranding%5BREFERENCE%5D**

[2022-10-09 01:51] Tiansing commented on #114
@Bivas-Biswas  I just updated the figma file, you can now access and view the rebranding design mentioned on this comment
https://github.com/SurPathHub/SurPathHub.github.io/issues/112#issuecomment-1272429609

[2022-10-09 03:14] sutirthverma commented on #112
I would love to work on this, can you assign it to me?

[2022-10-09 05:31] vinzvinci commented on #112
Thanks @Tiansing. Assigned @sutirthverma :heavy_check_mark:

[2022-10-09 06:01] vinzvinci commented on #113
I think you can create by using the current languages we used here, let us handle transferring the code to tailwind and react. Feel free to create PR

[2022-10-09 06:01] vinzvinci commented on #112
I think you can create by using the current languages we used here, let us handle transferring the code to tailwind and react. Feel free to create PR

[2022-10-09 06:01] vinzvinci commented on #114
Btw,

I think you can create by using the current languages we used here, let us handle transferring the code to tailwind and react. Feel free to create PR

[2022-10-09 06:23] amitroy-thedev commented on #113
okay

[2022-10-09 06:27] #116 closed

[2022-10-09 06:31] vinzvinci commented on #117
Btw,

I think you can create by using the current languages we used here, let us handle transferring the code to tailwind and react. Feel free to create PR

[2022-10-09 06:31] vinzvinci commented on #115
Btw,

I think you can create by using the current languages we used here, let us handle transferring the code to tailwind and react. Feel free to create PR

[2022-10-09 07:10] iqrafirdose opened #119 "Update Read me"
### Detailed description

Having a good read me helps to know about the project .I will  update the read me by adding images, screenshots and try to looks good.

### Context

Read me shows everything of the project. I will update the read me that can be understandable to everyone.

### Possible implementation

I will add images, screenshots  of the community .

### Additional information

_No resp

[2022-10-09 07:13] iqrafirdose commented on #119
can  you assign me? I will start working

[2022-10-09 07:34] amitroy-thedev commented on #113
Hey @vinzvinci how to find the platinum, gold and silver icons ?
Give any solution

[2022-10-09 07:35] vinzvinci commented on #113
Can you send the files @Tiansing

On Sun, 9 Oct 2022, 3:34 pm AmitRoy, ***@***.***> wrote:

[2022-10-09 07:36] amitroy-thedev commented on #113
Which files ?

[2022-10-09 07:42] sutirthverma commented on #112
ok, thanks

[2022-10-09 07:50] vinzvinci commented on #113
These what I mean, let me know if these works!

Silver
![silver](https://user-images.githubusercontent.com/73097560/194744538-84c7095e-82da-4997-b8b4-c1b449e997bf.png)

Gold
![gold1](https://user-images.githubusercontent.com/73097560/194744541-1cc89030-bee9-463e-8a37-8d72a4cbfb99.png)

Platinum
![platinum](https://user-images.githubusercontent.com/73097560/194744542-5a0b6e80-9861-4936-aee3-f659f12

[2022-10-09 07:55] amitroy-thedev commented on #113
Hey @vinzvinci please provide the icon so that i can continue with the project..
The project is almost done.

[2022-10-09 08:02] amitroy-thedev commented on #113
Do i need to set the background color and card color same as it is shown ?

[2022-10-09 08:03] vinzvinci commented on #113
I don't have the orig icons, sorry. Maybe u can use other icon related to silver, gold, platinum for now

[2022-10-09 08:06] amitroy-thedev commented on #113
Sorry that reply was before you sent the icons

[2022-10-09 08:20] amitroy-thedev commented on #113
The project is done can i commit

[2022-10-09 08:26] vinzvinci commented on #113
Yeah sure.

[2022-10-09 08:27] vinzvinci commented on #119
I'm wondering what will u put there, can I see in this issue first? I'll make sure to assign u here after that

[2022-10-09 09:31] amitroy-thedev commented on #113
I've pull request the code please review it..

[2022-10-09 11:29] #113 closed

[2022-10-09 14:16] iqrafirdose commented on #119
Hey! I updated the read me  and I  created the pull request  #121 .

[2022-10-09 14:28] Tiansing opened #122 "[BUG] Remove Join Us section"
### Description of the bug

Remove Join Us section

### Please add screenshots (if applicable)

Remove Join Us section for website rebranding like this:
![2022-10-09 21_44_57-](https://user-images.githubusercontent.com/59194525/194762302-22f47337-0d39-47ad-8dfc-b284ab02642b.png)

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this proj

[2022-10-09 14:46] vavy06 commented on #122
Hi, I can do the task. Can you assign it to me?

[2022-10-09 15:14] #122 closed

[2022-10-09 16:17] sutirthverma commented on #112
Hey, do I have to keep the navbar fixed at top?

[2022-10-10 01:27] Tiansing commented on #112
Hey @sutirthverma, yes that would be fine if you keep the navbar fixed at the top.

[2022-10-10 08:57] mkubdev commented on #115
Wow, just opened the massive `index.html` 👀

[2022-10-10 13:45] vinzvinci commented on #115
Yeah xD. Have fun!

[2022-10-11 11:04] vinzvinci commented on #117
Any update on this?

[2022-10-11 11:09] Tiansing commented on #112
@sutirthverma any update on this?

[2022-10-11 11:09] Tiansing commented on #114
@Bivas-Biswas any update on this?

[2022-10-11 11:13] Tiansing commented on #115
Can't wait to see the progress of your work 😃 @mkubdev

[2022-10-11 11:14] Tiansing commented on #117
Is there any progress of your work @Urmilasc ??

[2022-10-11 13:43] mkubdev opened #125 "[FEATURE] Migrating to Next.js"
### Detailed description

Hi 👋🏻

We should migrate this website to Next.js :
* Server-side Rendering (better perf)
* HMR (Hot Module replacment) : Very better developer experience
* Imroved SEO

### Context

This change seems important to me as working in plain html/css is not funny and can become hard to maintain as the tech stack evolve quickly.

### Possible implementation

Just migrate everyth

[2022-10-11 13:55] #115 closed

[2022-10-11 14:02] vinzvinci commented on #125
Hey kub!

I agree with you, I think we should migrate them to next.js :) I want to see more next.js projects in this server :)

Do you want to take this issue?

[2022-10-11 14:04] vinzvinci commented on #125
Assigned ✔️ Looking forward to this!

[2022-10-11 14:53] sutirthverma commented on #112
Almost finished, just working on some bugs.

[2022-10-11 15:22] iqrafirdose commented on #119
Hacktoberfest  labelled as Invalid. Why?

[2022-10-11 18:04] #114 closed

[2022-10-11 18:55] vinzvinci commented on #125
You'll create draft PR for the nextjs migration right? I think we talk about this on discord xD, so many notifs on my side (I always forgot ^^)

[2022-10-11 18:59] vinzvinci commented on #119
It didn't follow our standards but I can remove it, let's put it on hold for now. We are rebranding the site, so I think it's better to create it when the landing page is done.

[2022-10-12 06:19] Tiansing commented on #112
That's great, keep going buddy!

[2022-10-12 11:20] vinzvinci commented on #112
You can keep the old one.

#125 coming up soon

[2022-10-12 14:57] sutirthverma commented on #112
ok

[2022-10-12 17:11] vinzvinci commented on #112
Sure! We are also in a hurry, kubdev migrating to nextjs #127

[2022-10-14 07:50] #112 closed

[2022-10-14 07:59] Pacific077 opened #129 "add back on top button"
### Detailed description

Add a back on top button

### Context

I'll add the back on top button, which lets the user to go on the top of the webpage at any moment, instead of scrolling

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-14 08:02] Pacific077 opened #130 "[FEATURE] Add dark mode"
### Detailed description

Make a dark mode on/off switch.

### Context

I'll make a dark mode on/off switch. Which will let the user to enable or disable dark mode.

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-14 08:02] vinzvinci commented on #129
Hi, can we put on-hold for this? can u start working on Sunday or Monday?

[2022-10-14 08:02] vinzvinci commented on #130
Currently #127 dark mode, white mode is needed. Can u wait for this to merge?

[2022-10-14 08:03] vinzvinci commented on #117
Closing this later if no response

[2022-10-15 04:13] vinzvinci commented on #117
Continue in #127

[2022-10-15 04:13] #117 closed

[2022-10-15 04:14] vinzvinci commented on #119
Closing this. We will provide summary issue for the README soon [here](https://github.com/SurPathHub/SurPathHub.github.io/issues).

[2022-10-15 04:14] #119 closed

[2022-10-18 15:40] #125 closed

[2022-10-18 16:00] vinzvinci opened #133 "[FEATURE] Create a workflow for pages"
### Detailed description

The website is newly built by nextjs. Need to create a workflow in order to run it via GitHub pages

### Context

Reference
https://github.com/WebXDAO/WebXDAO.github.io/blob/main/.github/workflows/deploy-node.yml

### Possible implementation

_No response_

### Additional information

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Condu

[2022-10-18 16:06] mkubdev commented on #133
Hello vinz. I can help for this issue !

[2022-10-18 16:07] vinzvinci commented on #133
Assigned ✔️ @mkubdev

[2022-10-18 16:14] #133 closed

[2022-10-18 16:45] mkubdev opened #135 "[BUG] Remove next.js experimental feature for image optimization"
### Description of the bug

We added an experimental feat to bypass image optimization for github page build. We should remove it and use an alternative image opti engine for the export.

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-18 16:51] mkubdev opened #136 "[BUG] Bug template is not well formated"
### Description of the bug

Description need to be textarea, etc..

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-18 17:00] #136 closed

[2022-10-18 19:39] Panquesito7 opened #139 "[BUG] Update website links"
### Description of the bug

Various links (mostly social media links) are broken and need to be updated ASAP.

### Please add screenshots (if applicable)

_No response_

### Add any other context about the problem here

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-19 08:36] mkubdev commented on #139
They are mocked, not broken 🙈

I think you can give it a try as every data (link, navigation, or footer) is mocked into JSON object on top of the component. You can check for example the [socials links inside the footer](https://github.com/SurPathHub/SurPathHub.github.io/blob/b488930408ccf061c847294cb3de87477d22bd36/src/components/navigation/Footer.js#L15) here.

Maybe there is only some button li

[2022-10-19 13:31] mkubdev opened #140 "[FEATURE] Update the Join our Community section"
### Detailed description

The Join ou community Program section has Lorem Ipsum. 👇
![image](https://user-images.githubusercontent.com/50140834/196705298-06daa95d-fe28-4f3f-9ee1-3dddeb9eae8e.png)

### Context

This changes come from the Figma migration to Next.js. But we need to update them.

### Possible implementation

Text needed for the both programs.

### Additional information

_No response_

[2022-10-19 13:37] mkubdev opened #141 "[FEATURE] Request and display SurPath blog post"
### Detailed description

The blog display mocked blog posts 👇

![image](https://user-images.githubusercontent.com/50140834/196705818-e263a247-fe58-4fe6-a3ad-e31e99f43e39.png)

We need to implement data fetching from Dev.to and display the real blog posts from the community.

### Context

Because we need to update mocked content from the Figma/Next.js migration.

### Possible implementation

Use [

[2022-10-19 13:41] mkubdev opened #142 "[FEATURE] Update Partners"
### Detailed description

The blog partners component is displaying mocked partners 👇

![image](https://user-images.githubusercontent.com/50140834/196707215-025c8d10-b090-4319-a9f2-03e910559bde.png)

We need to update them by adding our official partners.

### Context

We should update the mocked content from the Figma/Next.js migration.

### Possible implementation

Update the [`<Partners />`](ht

[2022-10-19 13:44] mkubdev opened #143 "[FEATURE] Update Support our Program section"
### Detailed description

The **Support our Program** section is displaying mocked program 👇

![image](https://user-images.githubusercontent.com/50140834/196708362-823f1338-8b72-44d0-8281-20685ec69070.png)

We need to update them by adding official programs.

### Context

We should update the mocked content from the Figma/Next.js migration.

### Possible implementation

Update the [`<SupportOurPro

[2022-10-19 13:45] mkubdev commented on #135
I close since https://github.com/SurPathHub/SurPathHub.github.io/commit/cb8b10b447c90c765dfcd84f0a40f53265c2a54e fixed it.

[2022-10-19 13:45] #135 closed

[2022-10-19 15:45] vinzvinci commented on #141
Yes

https://dev.to/surpathhub

[2022-10-27 14:12] Ryjin210 commented on #140
Hi! Could you assign me this issue? I would like to change the content this section has :))

[2022-10-28 14:36] #140 closed

[2022-10-30 17:42] Ryjin210 commented on #143
Hi @mkubdev I would like to try and update this section, here's an outline of what I'll do. Its based from the Figma/Next.js migration template that @vinzvinci showed me. let me know if its alright, ill submit a PR right away :))
![image](https://user-images.githubusercontent.com/77573336/198893060-3a2d1e30-d71f-4040-9d75-b0bad11a5ba1.png)

[2022-10-31 10:29] vinzvinci commented on #143
This looks good to me already 😸

[2022-10-31 10:29] #143 closed